<!DOCTYPE html>
<html>
<head>
  <title>NewGem</title>
  <%= stylesheet_link_tag    "new_gem/application", media: "all" %>
  <%= javascript_include_tag "new_gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
